@font-face {
    font-family: headingFont;
    src: url(../fonts/Metropolis-Bold.otf);
}


* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

:focus {
    outline: none !important;
}
svg {
  width: 100%;
  z-index: 100;
}
.loading-icon {
   width: 64px;
   height: 64px;
   background: url('../loading.svg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
         position: absolute;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
         margin: auto;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  background: #000;
  overflow: hidden; }

body, div, span {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

h1, h2, h3, h4, h5, h6, span {
    font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

p {
  text-rendering: optimizeLegibility; }
/*PRELOADER*/
/* =Preloader */

.loading-text {
  text-indent: -999999px;
  height: 80px;
  width: 200px;
  margin: auto;
  background: url('../img/loading.svg');
  background-size: contain;
  background-position: center;
  position: relative;
  top: 40%;
}
.mobile-video {
  display: none;
}
.logo-header {
  position: fixed;
  top: 20px;
 
      z-index: 1000;
    width: 13rem !important;
    left: 0;

}
.logo-sis {
    position: absolute;
    top: 3rem;
    left: 9px;
    z-index: 1;
}

.logo-sis img {
  width: 26%;
}
#video-about {width:100%;}
.slick-prev:before, .slick-next:before {color:black !important;}
.about__slider {
  padding: 20px 30px;
}
.slick-next {
  right: 0px !important;
}
.slick-prev {
  left: 0px !important;
}
.preload {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.swiper-container {
  width: 100%;
  height: 100vh; }

.slide-1.swiper-slide-active {
  background: #fff; }
  .slide-1.swiper-slide-active .nav-nbm {
    -webkit-animation: fadeDown .5s ease-in-out 5.5s;
            animation: fadeDown .5s ease-in-out 5.5s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-1.swiper-slide-active .f_a:nth-child(3) {
    -webkit-animation: fadeUp .8s ease-in-out 0.7s;
            animation: fadeUp .8s ease-in-out 0.7s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-1.swiper-slide-active .f_a:nth-child(4) {
    -webkit-animation: fadeUp .8s ease-in-out 0.9s;
            animation: fadeUp .8s ease-in-out 0.9s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-1.swiper-slide-active .f_a:nth-child(5) {
    -webkit-animation: fadeUp .8s ease-in-out 1.1s;
            animation: fadeUp .8s ease-in-out 1.1s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
     .slide-1.swiper-slide-active .f_a:nth-child(6) {
    -webkit-animation: fadeUp .8s ease-in-out 1.3s;
            animation: fadeUp .8s ease-in-out 1.3s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-1.swiper-slide-active video {
    -webkit-animation: fadeIn 5.5s ease-in  !important;
            animation: fadeIn 5.5s ease-in  !important; }

.slide-2.swiper-slide-active {
  background: #fff; }
  .slide-2.swiper-slide-active .nav-nbm {
    -webkit-animation: fadeDown .5s ease-in-out .4s;
            animation: fadeDown .5s ease-in-out .4s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-2.swiper-slide-active .heading {
    -webkit-animation: fadeUp .5s ease-in-out .5s;
            animation: fadeUp .5s ease-in-out .5s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-2.swiper-slide-active .content-p {
    -webkit-animation: fadeUp .5s ease-in-out 1s;
            animation: fadeUp .5s ease-in-out 1s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  /*.slide-2.swiper-slide-active .buttons .btn-def:nth-child(1) {
    animation: fadeUp .5s ease-in-out 1.5s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }*/
  /*.slide-2.swiper-slide-active .buttons .btn-def:nth-child(2) {
    animation: fadeUp .5s ease-in-out 1.8s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }*/


.slide-3.swiper-slide-active {
  background: #fff; }
  .slide-3.swiper-slide-active .nav-nbm {
    -webkit-animation: fadeDown .5s ease-in-out .4s;
            animation: fadeDown .5s ease-in-out .4s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-3.swiper-slide-active .content-p:nth-child(2) {
    -webkit-animation: fadeUp .5s ease-in-out 1s;
            animation: fadeUp .5s ease-in-out 1s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-3.swiper-slide-active .content-p:nth-child(3) {
    -webkit-animation: fadeUp .5s ease-in-out 1.3s;
            animation: fadeUp .5s ease-in-out 1.3s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-3.swiper-slide-active .content-p:nth-child(4) {
    -webkit-animation: fadeUp .5s ease-in-out 1.5s;
            animation: fadeUp .5s ease-in-out 1.5s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-3.swiper-slide-active .swiper-right-nav {
    -webkit-animation: fadeUp .5s ease-in-out 2s;
            animation: fadeUp .5s ease-in-out 2s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-3.swiper-slide-active video {
    -webkit-animation: fadeIn 2.5s ease-in !important;
            animation: fadeIn 2.5s ease-in !important; }

  .slide-3.swiper-slide-active a.r-heading  {
    -webkit-animation: fadeUp .5s ease-in-out 1.5s !important;
            animation: fadeUp .5s ease-in-out 1.5s !important;
        -webkit-animation-fill-mode: backwards !important;
    animation-fill-mode: backwards !important; }

  .slide-3.swiper-slide-active .h-medium  {
    -webkit-animation: fadeUp .5s ease-in-out 1s !important;
            animation: fadeUp .5s ease-in-out 1s !important;
        -webkit-animation-fill-mode: backwards !important;
    animation-fill-mode: backwards !important; }

.slide-4.swiper-slide-active {
  background: #fff; }
  .slide-4.swiper-slide-active .nav-nbm {
    -webkit-animation: fadeDown .5s ease-in-out .4s;
            animation: fadeDown .5s ease-in-out .4s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-4.swiper-slide-active .heading:nth-child(3) {
    -webkit-animation: fadeUp .5s ease-in-out .5s;
            animation: fadeUp .5s ease-in-out .5s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-4.swiper-slide-active .heading:nth-child(4) {
    -webkit-animation: fadeUp .5s ease-in-out .7s;
            animation: fadeUp .5s ease-in-out .7s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-4.swiper-slide-active .heading:nth-child(5) {
    -webkit-animation: fadeUp .5s ease-in-out .9s;
            animation: fadeUp .5s ease-in-out .9s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-4.swiper-slide-active .content-p {
    -webkit-animation: fadeUp .5s ease-in-out 1.2s;
            animation: fadeUp .5s ease-in-out 1.2s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-4.swiper-slide-active .swiper-right-nav {
    -webkit-animation: fadeUp .5s ease-in-out 1.7s;
            animation: fadeUp .5s ease-in-out 1.7s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-4.swiper-slide-active video {
    -webkit-animation: fadeIn 2.5s ease-in !important;
            animation: fadeIn 2.5s ease-in !important; }

.slide-5.swiper-slide-active {
  background: #fff; }
  .slide-5.swiper-slide-active .nav-nbm {
    -webkit-animation: fadeDown .5s ease-in-out .4s;
            animation: fadeDown .5s ease-in-out .4s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-5.swiper-slide-active h1 {
    -webkit-animation: fadeUp .5s ease-in-out .5s;
            animation: fadeUp .5s ease-in-out .5s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-5.swiper-slide-active .content-p:nth-child(2) {
    -webkit-animation: fadeUp .5s ease-in-out .7s;
            animation: fadeUp .5s ease-in-out .7s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-5.swiper-slide-active .content-p:nth-child(3) {
    -webkit-animation: fadeUp .5s ease-in-out .9s;
            animation: fadeUp .5s ease-in-out .9s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-5.swiper-slide-active .content-p:nth-child(4) {
    -webkit-animation: fadeUp .5s ease-in-out 1.2s;
            animation: fadeUp .5s ease-in-out 1.2s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-5.swiper-slide-active video {
    -webkit-animation: fadeIn 2.5s ease-in !important;
            animation: fadeIn 2.5s ease-in !important; }
  .slide-5.swiper-slide-active .swiper-right-nav {
    -webkit-animation: fadeUp .5s ease-in-out 1.7s;
            animation: fadeUp .5s ease-in-out 1.7s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }

.slide-6.swiper-slide-active {
  background: #fff; }
  .slide-6.swiper-slide-active .nav-nbm {
    -webkit-animation: fadeDown .5s ease-in-out .4s;
            animation: fadeDown .5s ease-in-out .4s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-6.swiper-slide-active h1 {
    -webkit-animation: fadeUp .5s ease-in-out .5s;
            animation: fadeUp .5s ease-in-out .5s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-6.swiper-slide-active .content-p:nth-child(2) {
    -webkit-animation: fadeUp .5s ease-in-out .7s;
            animation: fadeUp .5s ease-in-out .7s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-6.swiper-slide-active .content-p:nth-child(3) {
    -webkit-animation: fadeUp .5s ease-in-out .9s;
            animation: fadeUp .5s ease-in-out .9s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-6.swiper-slide-active .content-p:nth-child(4) {
    -webkit-animation: fadeUp .5s ease-in-out 1.2s;
            animation: fadeUp .5s ease-in-out 1.2s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .slide-6.swiper-slide-active video {
    -webkit-animation: fadeIn 2.5s ease-in !important;
            animation: fadeIn 2.5s ease-in !important; }
  .slide-6.swiper-slide-active .swiper-right-nav {
    -webkit-animation: fadeUp .5s ease-in-out 1.7s;
            animation: fadeUp .5s ease-in-out 1.7s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }

.swiper-container {
  z-index: 1; }


.blur-out {
    -webkit-animation: blur-out 2s forwards;
    animation: blur-out 2s forwards;
}

@-webkit-keyframes blur-out {
    0% {
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -o-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);
    }
    
    50% {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes blur-out {
    0% {
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -o-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);
    }
    
    50% {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}


.logo {
  position: absolute;
  color: #fff;
  z-index: 1;
  font-size: 2.5rem;
  font-weight: 400;
  top: 3rem;
  left: 0;
  -webkit-animation: fadeIn 2s ease-in 1s;
          animation: fadeIn 2s ease-in 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; 
    display: none;

}

.swiper-pagination.pag-nav.swiper-pagination-clickable.swiper-pagination-bullets {
  height: 100vh !important;
  width: 13rem !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-animation: fadeIn 2s ease-in 1.5s;
          animation: fadeIn 2s ease-in 1.5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }
  
  
.bg_no_click:after {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 999;
}  
  

@-webkit-keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: 1; } }  
  

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: 1; } }

.swiper-pagination-bullet-active {
  width: 9rem !important; }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  background: none;
  width: 6rem;
  height: 1px;
  border-radius: 0;
  margin: 1.5rem 0 !important;
      padding: 10px 0;
    
}


.swiper-pagination-bullet span{
    display:none;
    text-align: right;
    
}

.swiper-pagination-bullet:hover span{
    display:block;
    -webkit-transition: 1s ease all;
    -o-transition: 1s ease all;
    transition: 1s ease all;
    
}

.swiper-pagination-bullet-active span {
    display:block;
}

.swiper-pagination-bullet p {
    border-top: 1px solid;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active p {
    border: 1px solid;
}




.swiper-container-vertical > .swiper-pagination-bullets {
  left: 0 !important; }

/*.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  left: 30% !important; 
    top: 85% !important;
    background-image: url(../img/arrow-next.svg) !important;
        width: 80px !important;
    height: 80px !important;
    border-radius: 100px;
    border: 1px solid rgba(255,255,255,0.5);
}

.swiper-button-next:before {
    content: "";
    height: 1px;
    width: 25rem;
    background: #fff;
    position: absolute;
    left: -360%;
    top: 50%;
}*/
.scroll-down {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 13rem;
  height: 20%;
  color: #000;
  text-align: right;
  -webkit-animation: fadeIn 2s ease-in 2.5s;
          animation: fadeIn 2s ease-in 2.5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }
.scrl-dwn span {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    -webkit-animation: sdb06 2s infinite;
    animation: sdb06 2s infinite;
    opacity: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.scrl-dwn span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.scrl-dwn span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.scrl-dwn span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
     
@-webkit-keyframes sdb06 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



@keyframes flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-webkit-keyframes scrollDown {
  0% {
    height: 5%;
    opacity: 0.2; }
  75% {
    height: 100%;
    opacity: .8; }
  100% {
    height: 50%;
    opacity: .3; } }


@keyframes scrollDown {
  0% {
    height: 5%;
    opacity: 0.2; }
  75% {
    height: 100%;
    opacity: .8; }
  100% {
    height: 50%;
    opacity: .3; } }


.music-wrapper .bar {
    -webkit-animation: none !important;
            animation: none !important;
    height: 20px;
    width: 1px;
    background: black;
    margin-left: .4em;
}
.playing .bar {
  margin-left: .4rem;
  float: left;
  width: 1px;
  height: 30%;
  background: #000;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.playing .bar:nth-child(even) {
  -webkit-animation: listen 1.3s ease .3s infinite !important;
          animation: listen 1.3s ease .3s infinite !important; }

.playing .bar:nth-child(odd) {
  -webkit-animation: listen 1.3s ease .6s infinite !important;
          animation: listen 1.3s ease .6s infinite !important; }

.playing .bar:nth-child(3) {
  -webkit-animation: listen 1.3s ease infinite !important;
          animation: listen 1.3s ease infinite !important; }

@-webkit-keyframes listen {
  0% {
    height: 30%; }
  20% {
    height: 100%; }
  40% {
    height: 70%; }
  50% {
    height: 100%; }
  100% {
    height: 30%; } }

@keyframes listen {
  0% {
    height: 30%; }
  20% {
    height: 100%; }
  40% {
    height: 70%; }
  50% {
    height: 100%; }
  100% {
    height: 30%; } }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  
  .content h1 {
    font-size: 9rem;
    /*text-transform: uppercase;*/
    line-height: 1;
    width: 100%;
    color: #000;
    font-weight: 400;
    position: relative;
    letter-spacing: -.2rem; }
  .content h1:nth-child(2) {
    -webkit-animation-delay: .5s;
            animation-delay: .5s; }
  .content h1:nth-child(3) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }

.content h1:not(.txt-trn) {
    font-size: 5rem; 
}

.large-p {
  font-size: 2.3rem !important;
  line-height: 1.4;
  font-weight: 500; }

.content-p {
  color: #000;
  font-size: 1.5rem;
  width: 60%;
  margin-top: 3rem; }

.lrg {
  font-size: 3rem;
  font-weight: 700; }



.three h1 {
    color: #06377b !important;
    font-size: 13rem;
    width: 50%;
    margin-bottom: 1.5rem;
}

.three h2 {
  margin-bottom: 3rem;
}

.three .content-p {
    margin-top: 0;
    margin-bottom: 10px;
}

h1.heading {
    color: #06377b;
    font-weight: 400;
    font-size: 5rem;
    /* text-transform: uppercase; */
    line-height: 1;
    position: relative;
    letter-spacing: -.4rem;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
.btn-def {
    font-size: 1.5rem;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 1.5rem 4rem;
    margin-right: 5rem;
    color: #000;
    margin-top: 6rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    letter-spacing: .05rem;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    font-weight: normal;
    border-radius: 20rem;
     }



.bluee-btn {
  border-radius: 20rem;
  background: none !important;
  cursor: pointer !important;
  -webkit-box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5) !important;
          box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5) !important;
  -webkit-animation: pulse 1.5s infinite !important;
  color: black !important;
    border: none !important;
}

.pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 25px rgba(6, 55, 123, 0);
            box-shadow: 0 0 0 25px rgba(6, 55, 123, 0);
  }
  100% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 0 rgba(6, 55, 123, 0);
            box-shadow: 0 0 0 0 rgba(6, 55, 123, 0);
  }
}
  .buttons :focus {
    outline: none; }
  .buttons :hover {
    background: #06377b;
    color: #fff;
    border: 1px solid #06377b; }



.right-section {
  position: absolute;
  right: 0;
  top: 0;
  width: 13rem;
  height: 100vh;
  letter-spacing: .5px;
  z-index: 100;
  -webkit-animation: fadeIn 2s ease-in 2.5s;
          animation: fadeIn 2s ease-in 2.5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transition: all 500ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
   -o-transition: all 500ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
   transition: all 500ms cubic-bezier(0.95, 0.05, 0.795, 0.035); }

.right-section:hover {
  background-color: #fff; 
}

.social {
  position: absolute;
  bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.3rem;
  line-height: 3.5;
  color: #fff;
  letter-spacing: 1.3px;
  -webkit-font-kerning: none;
          font-kerning: none;
  font-weight: 500; }
  .social a {
    text-decoration: none;
    color: #000;
    letter-spacing: 0.2px;
    font-size: 1.1rem; }

.music-wrapper {
  height: 2rem;
  position: absolute;
  width: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 20;
  top: 4rem; }

.video-section {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.overlay-bg {
  /*background: url(../img/noise2.gif);*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.07; }

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 115%;
  height: auto;
  z-index: -100; }

p.nav-nbm {
  font-size: 1.5rem;
  margin-bottom: 6rem;
  color: rgba(0, 0, 0, 0.92);
  -webkit-animation: fadeIn 1s ease-in 4s;
          animation: fadeIn 1s ease-in 4s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  letter-spacing: .2rem;
  font-weight: 500; }
  p.nav-nbm span {
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.3); }

.scrl-dwn {
    position: relative;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 13%;
}
 /* .scrl-dwn span {
    width: 27rem;
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 85%;
    animation: fadeLeft 1.5s ease-in 6.3s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
*/
@-webkit-keyframes fadeLeft {
  0% {
    width: 0%;
    opacity: 0; }
  100% {
    width: 27rem;
    opacity: 1; } }
@keyframes fadeLeft {
  0% {
    width: 0%;
    opacity: 0; }
  100% {
    width: 27rem;
    opacity: 1; } }

.txt-trn-two {
  font-size: 2rem;

  color: rgba(0, 0, 0, 0.6);
  margin-top: 6rem;
  left: 0;
  width: 100%;
  letter-spacing: .05rem;
  -webkit-animation: fadeIn 1s ease-in 6.9s;
          animation: fadeIn 1s ease-in 6.9s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  font-weight: 300;
  margin-left: 30rem;
  position: relative; }

.swiper-right-nav {
  display: block;
  width: 60%;
  position: relative;
  margin-top: 3rem; }
  .swiper-right-nav p {
    display: inline-block;
    margin-left: 12rem; }
  .swiper-right-nav .next-btn {
    margin-top: 3rem;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    left: 9rem;
    right: 0;
    background: url(../img/next-arrow-black.svg);
    z-index: 9;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block; }
    .swiper-right-nav .next-btn:after {
      width: 4rem;
      height: 4rem;
      content: "";
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 100%;
      position: absolute;
      top: -1.3rem;
      left: -1.4rem;
      -webkit-transition: .2s all ease-in-out;
      -o-transition: .2s all ease-in-out;
      transition: .2s all ease-in-out; }
    .swiper-right-nav .next-btn:hover:after {
      background: rgba(0, 0, 0, 0.2); }
  .swiper-right-nav .prev-btn {
    margin-top: 3rem;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    left: 0;
    right: 0;
    background: url(../img/prev-arrow-black.svg);
    z-index: 9;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block; }
    .swiper-right-nav .prev-btn:after {
      width: 4rem;
      height: 4rem;
      content: "";
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 100%;
      position: absolute;
      top: -1.3rem;
      left: -1.2rem;
      -webkit-transition: .2s all ease-in-out;
      -o-transition: .2s all ease-in-out;
      transition: .2s all ease-in-out; }
    .swiper-right-nav .prev-btn:hover:after {
      background: rgba(0, 0, 0, 0.2); }

.swipe-right {
  margin-top: 0; }

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fadeDown {
  0% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes fadeDown {
  0% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

.white-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+82&1+0,0+82 */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 60%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(60%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 60%);
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 60%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 */ }

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    position: relative;
    z-index: 9;
  }
  .about span {
    text-transform: uppercase;}

.preload {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000; }
  .preload p {
    color: #fff;
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    letter-spacing: .7rem;
    z-index: 1; }

.overlay-noise {
  background: url(../img/noise2.gif);
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.07; }

.loading-txt {
  color: transparent;
  animation: blur 5s ease-out infinite;
  -webkit-animation: blur 5s ease-out infinite; }

.loading-txt:nth-child(1) {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s; }

.loading-txt:nth-child(2) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s; }

.loading-txt:nth-child(3) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s; }

.loading-txt:nth-child(4) {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s; }

.loading-txt:nth-child(5) {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s; }

.loading-txt:nth-child(6) {
  animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s; }

.loading-txt:nth-child(7) {
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s; }

@keyframes blur {
  0% {
    text-shadow: 0 0 100px #fff;
    opacity: 0; }
  5% {
    text-shadow: 0 0 90px #fff; }
  15% {
    opacity: 1; }
  20% {
    text-shadow: 0 0 0px #fff; }
  80% {
    text-shadow: 0 0 0px #fff; }
  85% {
    opacity: 1; }
  95% {
    text-shadow: 0 0 90px #fff; }
  100% {
    text-shadow: 0 0 100px #fff;
    opacity: 0; } }

@-webkit-keyframes blur {
  0% {
    text-shadow: 0 0 100px #fff;
    opacity: 0; }
  5% {
    text-shadow: 0 0 90px #fff; }
  15% {
    opacity: 1; }
  20% {
    text-shadow: 0 0 0px #fff; }
  80% {
    text-shadow: 0 0 0px #fff; }
  85% {
    opacity: 1; }
  95% {
    text-shadow: 0 0 90px #fff; }
  100% {
    text-shadow: 0 0 100px #fff;
    opacity: 0; } }

@-webkit-keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }




.image-test img {
    width: 100%;
    height: 100vh;
    max-width: 100%;
}


  .swiper-wrapper {
    -webkit-transition: 3s cubic-bezier(.25,.75,.5,1.25) .2s;
    -o-transition: 3s cubic-bezier(.25,.75,.5,1.25) .2s;
    transition: 3s cubic-bezier(.25,.75,.5,1.25) .2s; 
  }




.loading-bar {
    background: #fff;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-animation: loadingBar 5s ease-in-out forwards;
            animation: loadingBar 5s ease-in-out forwards;
            height: 1px;
            top: 53%;
}

@-webkit-keyframes loadingBar {
  0% {
    width: 0%;

  }

  100% {
    width: 100%;

  }

 

}

@keyframes loadingBar {
    0% {
    width: 0%;

  }

  100% {
    width: 100%;

  }

}


.sml {
  width: 35%;
}


.slide-3 .nav-nbm {
 margin-bottom: 3rem;
}

.slide-4 .nav-nbm {
 margin-bottom: 3rem;
}

.slide-4 h1:nth-child(2) {
  margin-top: 3rem;
}

.slide-5 .nav-nbm {
 margin-bottom: 3rem;
}

.slide-5 h1:nth-child(2) {
  margin-top: 3rem;
}

.slide-6 .nav-nbm {
 margin-bottom: 3rem;
}

.slide-6 h1:nth-child(2) {
  margin-top: 3rem;
}



/*.slide-5 h1:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3rem;
    left: 0;
    top: 48%;
    background: #40d2ff;
    z-index: -1;
}


.slide-6 h1:after {
    content: "";
    position: absolute;
    width: 40%;
    height: 3rem;
    left: 0;
    top: 48%;
    background: #40d2ff;
    z-index: -1;
}


.blue-underline::after {
     content: "";
    position: absolute;
    width: 37%;
    height: 3rem;
    left: 0;
    top: 48%;
    background: #40d2ff;
    z-index: -1;

}*/
.underline {
  color: #06377b;
}



.bold {
    position: relative;
    color: #fff; 
    font-weight: 300;
}

.bold:after {
    content: "";
    position: absolute;
    width: 101%;
    height: 2.5rem;
    background: #f63434;
    left: -2px;
    z-index: -1;
    top: 0;
}    

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
}



.about-contenct {
    position: fixed;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}


.open {
    right: 0;
    background: #fff;
    width: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition:         all 300ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition:         all 300ms cubic-bezier(0.95, 0.05, 0.795, 0.035);


}

.open .about-contenct {
    -webkit-transform: translateX(25%);
        -ms-transform: translateX(25%);
            transform: translateX(25%);
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in; 
}


.right-section-content {
    width: 13rem;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    height: 100%;

}

.open .right-section-content {
      border-right: 1px solid rgba(0, 0, 0, 0.5);
}


.open .about-contenct {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    top: 0;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;    
}

.open .about-contenct h1:nth-child(2) {
    margin-bottom: 3rem;
}
.open .about-contenct h1 {
    font-size: 6rem;
    line-height: 1;
}
.open .about-contenct h1:nth-child(3) {
  margin-bottom: 6rem;
}

.open .about-contenct p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  padding-bottom: 60px;
}

/*.about-content-inner {
    width: 30%;
    position: absolute;
    left: 15%;
    top: 15%;
    z-index: 5;
}*/

.about-content-inner {
    position: absolute;
    width: 70%;
    margin: 0 auto;
    max-width: 95%;
    left: 15rem;
}

.close-btn {
  display: none;
} 

.right-section.open .close-btn {
    display: block;
    cursor: pointer;
    z-index: 2;
}

.right-section.open .toggle-btn {
    display: none;
}


.about-video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    -webkit-animation: fadeIn 1s ease-in !important;
            animation: fadeIn 1s ease-in !important;
}

.active {
  display: block
}


.open h1 {
  -webkit-animation: fadeUp .5s ease-in-out .9s;
          animation: fadeUp .5s ease-in-out .9s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;  
}

.open h3 {
  -webkit-animation: fadeUp .5s ease-in-out 1.2s;
          animation: fadeUp .5s ease-in-out 1.2s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;  
}


.open p {
  -webkit-animation: fadeUp .5s ease-in-out 1.2s;
          animation: fadeUp .5s ease-in-out 1.2s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;  
}

.h-medium {
    font-size: 6rem;
    width: 51%;
    color: #000 ;
    letter-spacing: -.3rem;
    line-height: 1;
    font-weight: 600;
}

.r-heading {
    text-decoration: none;
    color: #06377b !important;
    font-size: 5rem;
    width: 51%;
    margin-top: 6rem;
    font-family: 'headingFont', sans-serif;
    position: relative;
    line-height: 1.2;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-left: .5rem;
    font-weight:bold;
  }

.r-heading:after {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 59%;
    left: 0;
    height: 0.2rem;
    background: #06377b;
    -webkit-animation: fadeUp .5s ease-in-out .5s;
            animation: fadeUp .5s ease-in-out .5s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: -1;
} 

.r-heading:hover:after {
    height: 7.3rem;
    background: #06377b;
    z-index: -1;
}

.r-heading:hover {
  color: #fff !important;
}

.about-content-inner h3 {
  font-size: 2.2rem;
  padding-bottom: 2.5rem;
}



.images-right {
    position: absolute;
    right: 0;
    z-index: 0;
}

.images-right img {
  max-width: 100%;
}

.image-1 {
    width: 39%;
    top: 8%;
    right: 7%;
}


.image-2 {
    width: 33%;
    top: 53%;
    right: 17%;
    z-index: 1;
}



.image-3 {
    top: 158%;
    width: 25%;
    z-index: 2;
    right: 10%;
}

.image-4 {
    width: 24%;
    right: 32%;
    top: 35px;
    z-index: 0;
}

.image-5 {
    top: 117%;
    width: 19%;
    right: 30%;
    z-index: 1;
}

.image-6 {
    top: 75%;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}


.open .image-1  {
    -webkit-animation: fadeDown .8s ease-in-out 1.5s;
            animation: fadeDown .8s ease-in-out 1.5s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}


.open .image-2  {
    -webkit-animation: fadeUp .8s ease-in-out 2s;
            animation: fadeUp .8s ease-in-out 2s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.open .image-4  {
    -webkit-animation: fadeUp .8s ease-in-out 2.5s;
            animation: fadeUp .8s ease-in-out 2.5s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.open .image-6 {
      -webkit-animation: fadeUp .8s ease-in-out 3s;
              animation: fadeUp .8s ease-in-out 3s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.open .image-5 {
      -webkit-animation: fadeUp .8s ease-in-out 3.5s;
              animation: fadeUp .8s ease-in-out 3.5s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}


.kidney-bg {
    position: absolute;
    z-index: -2;
    top: -6%;
    left: -12%;
}

.kidney-bg img {
    width: 57vw;
    opacity: .3;
}



.kidney-two {
    position: absolute;
    z-index: -2;
    top: -6%;
    left: 0%;
}

.kidney-two img {
    width: 57vw;
    opacity: .3;
}


.red-text {
  color: #06377b;
}


.blue-btn {
    background: #06377b;
    color: #fff;
}

.text-scroll ul, .content ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    font-size: 16px;
}

.flag {
  width: 32px !important;
}
form {
  text-align:center;
}
.znamenca ul {
  display: flex;
}
.znamenca ul form {
  margin:5px;
}


@media only screen and (max-width: 1440px) { 
    html {
      font-size: 50.5%;
    }
}


@media only screen and (max-width: 1366px) { 
    html {
      font-size: 46.5%;
    }
}


@media only screen and (max-width: 1280px) {
    .about-content-inner {
      width: 70%;
      }

      .image-2 {
    top: 39%;
    right: 5%;

    }
    .image-6 {
        top: 65%;
        width: 50%;
        display: block;
    }

    .image-5 {
      display: none;
    }

}

@media only screen and (max-width: 1024px) {

html {
    font-size: 38.5%;
}

.h-medium {
  font-size: 5rem;
}

h1.heading {
  font-size: 5rem;  
}

.music-wrapper .bar {
      height: 15px;
}



.image-4 {
    right: 23%;
    top: 40px;

    }

.image-1 {

    right: 0%;
    }

.image-2 {
    right: 0%;
}

.image-5 {
    display: block;
    top: 104%;
    width: 19%;
    right: 6%;
    z-index: 1;
}

.h-medium {
  letter-spacing: -3px;
}

.kidney-bg {
  display: none;
}

.kidney-two {
  display: none;
}
}


@media only screen and (max-width:768px) {
  .about-content-inner {
    width: 70%;
  }

  .content h1 {
    font-size: 4rem;
  }

.h-medium {
    font-size: 3rem;
    width: 50% !important;
}

h1.heading {
    font-size: 3rem;
}

  .images-right {
    display: none !important;
  }

  .h-medium {
        width: 90%;
  }
  
  .sml {
      width: 80%;
  }

  
  .content-p {
    width: 80%;
  }  


}
.collapsible-menu-icon {
  display: none;
}
.collapsible-menu-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  background-image: url('../img/menu.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -99999px;
  z-index: 99999;
}
.collapsible-menu {
  display:flex;
  background: white;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  flex-direction: column;
}
.logo-collapse {
  width: 50%;
  margin-bottom: 30px;
}
.collapsible-menu .kocki ul {
  display: flex;
}
.menu-links {
      color: black;
    font-size: 2.5rem !important;
    text-transform: uppercase;
    margin: 10px 0;
}
@keyframes menuappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.close-about-mobile {
  display: none;
  text-align: center;
    font-size: 15px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    position: fixed;
    background: white;
    z-index: 100;
    top: auto;
    width: 100%;
    height: 35px;
  
    align-items: center;
    justify-content: center;
    box-shadow: 0px -3px 20px rgba(0,0,0,.2);
}


.contact-inner a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}
.contact-inner i {

  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  background-position: center;
  height: 1em;
}
.contact-inner .mail-icon {
  display: inline-block;
   background-image: url('../img/mail-icon.svg');

}
.contact-inner .phone-icon {
  display: inline-block;
   background-image: url('../img/phone-icon.svg');

}
.contact-inner .map-icon {
  display: inline-block;
   background-image: url('../img/map-icon.svg');

}

.contact-form textarea{
  height: 160px;
}
.contact-form 
.form-control {
  border-radius: 0px;
  margin: 10px;
}
.contact-form label{
  display: none;
}
.contact-content-inner {
      display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.btn.btn-info {
  background: #06377b;
  border-radius: 0px;
  text-transform: uppercase;
  padding: 8px 20px;
  float: right;
}
.small-logo {
  width: 300px;
  height: auto;
}
.three-sixty a {
  text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
}
.toggle-btn {
  margin: 5px 0;
}
.slick-slider {
    margin-bottom: 250px;
  }
  .slide-2 .blue-btn {
    position: relative;
    top: 20px;
  }

    #select-city {
      border-radius: 0px;
    }
      .accordion-content {margin-top:20px; display: none;}
      .accordion-content.active {display: block;}
.contact-form-after {
  display: none;
}
@media  only screen and (max-width: 500px) {
/*  .logo-header {
    display: none !important;
  }*/
.contact-form-after {
  margin-bottom: 150px !important;
  min-height: 100px;
  display: block;
}
.contact-inner {
  margin-top: 60px;
}
.about__slider {
  padding: 20px 25px;
}
  .mobile-video {
    height: 100% !important;
  }
.contact-form .col-xs-6,.contact-form .col-xs-12 {
  padding: 0 5px;
}
.content-p{
  margin-top: 0px !important;
}
.three h1 {
  width: 100% !important;
}
.slide-2 .blue-btn {
      margin: 10px 0px !important;
    width: 100% !important;
    padding: 10px 5px;
    position: relative;
    top: 20px;
}
.scroll-down-text-button {
  width: 30px;
  height: 30px;
}

.contact-form .form-control {
  margin-left: 0px;
}
  .contact-form textarea{
    height: 80px;
  }
  .contact-form {
    margin-top: 30px;
  }

  .small-logo {
    width: 170px;
  }
  .close-about-mobile {
    display: flex;

  }
  .right-section {
  position: absolute;
  right: 0;
  top: 0;
  width: 13rem;
  height: 100vh;
  letter-spacing: .5px;
  z-index: 100;
  -webkit-animation: fadeIn 500ms ease-in 200ms;
          animation: fadeIn 500ms ease-in 200ms;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-transition: all 500ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
   -o-transition: all 500ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
   transition: all 500ms cubic-bezier(0.95, 0.05, 0.795, 0.035); }
.slide-1 h1 {
  font-size: 2.5em !important;
}
  .about-content-inner {
    left: 2rem !important;
    width: 90%;
  }
  .about, .kocki {
    display: none !important;
  }
  .open .right-section-content {
    border: none !important;
  }
  .collapsible-menu-icon {
    display: block;
  }
  .collapsible-menu.appear {
    animation: menuappear 300ms forwards;
  }
  .text-center {
    text-align:center !important;
  }
  .right-section {
    display: none;
  }
  .right-section.open {
    display: block;
  }
  .about-text_inner img{
    
    margin: 10px;
  }
  p {
    font-size: 75% !important;
  }
  a {
    font-size: 85% !important;
  }
h1,h2,h3 {
  font-size: 3rem !important;
  line-height: 1em !important;
  margin: 1rem 0 !important;
}

p.nav-nbm {
  margin-bottom: 2rem !important;
}
.swiper-pagination.pag-nav.swiper-pagination-clickable.swiper-pagination-bullets {
 display: none !important;
}
    .content {left:52%;}
  
  
  .scrl-dwn {
    display: none;
  }
      .more-text {
        display: none;
      }
      .scroll-down-text-button {
        left: 38% !important;
       
        cursor: pointer !important;

      }
      .content-p {
        font-size: 2rem;
      }
    .white-overlay {
    background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 80%);
    background: -webkit-gradient(linear, left top, right top, from(white), color-stop(80%, rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 80%);
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 80%);
   
    }
    video {
        display:none;
    }
    #video-background {
      width: auto;
    }
    .video-section {
        background-size:cover !important;
    }
    .mobile-video {
      display: block !important;
    }
    .slide-1 .video-section {
        /*background: url(../img/m/1.jpg)*/; 
        display: block;       
    }
    .slide-2 .video-section {
      /*  background: url(../img/m/1.jpg); */       
    }
    .slide-3 .video-section {
      /*  background: url(../img/m/2.jpg); */       
    }
    .slide-4 .video-section {
      /*  background: url(../img/m/3.jpg);    */    
    }
    .slide-6 .video-section {
      /*  background: url(../img/m/4.jpg);   */     
    }
    .slide-5 .overlay-bg {
      display: none;
    }
    .slide-2 .buttons .btn-def {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
    }
    .about-video {
        display:none;
        animation: none !important;
        -webkit-animation:none !important;
    }
    .slide-2 .buttons .btn-def {
        width: 100%;
        text-align: center;
    }
    .buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .r-heading {
        color: white !important;
        border: none !important;
        border-radius: 20rem;
        background: #06377b !important;
        cursor: pointer !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        -webkit-animation: none !important;
        text-align:center;
        padding: 1.5rem 4rem;
        font-size:1.5rem;
    }
    .r-heading:after {
        display:none;
    }
    .buttons .btn-def {
        width: 100%;
        text-align: center;
    }
        .big-text-scrollable {
    
        width:100% !important;
    }
}

@media only screen and (max-width:425px) {
  .swiper-pagination.pag-nav.swiper-pagination-clickable.swiper-pagination-bullets {
    display: none;
  }


.content {
  left: 40%;
}



/*.scrl-dwn span {
  width: 10rem;
}*/

.txt-trn-two {
 font-size: 2.4rem; 
 font-weight: 400;
    margin-left: 13rem;
}



.text-scroll {
    width: 100% !important;
    margin-bottom: 6rem;
    
} 

.hemo-heading {
  font-size: 5rem !important;
}

.buttons .btn-def {
    margin-top: 3rem;
}

.r-heading {
  width: 70%;
}

.r-heading:after {
 width: 90%; 
}

.content-p {
    width: 95%;
}

.scroll-down {
  display: none;
}

.h-medium {
 font-size: 5rem;
 width: 100% !important
}

.image-test img {
  -o-object-fit: cover;
     object-fit: cover;
}

.buttons .btn-def {
    width: 70%;
    text-align: center;
    background: #06377b;
    color:white;
}

.right-section {
    width: 13rem;
    overflow: hidden;
}

.right-section-content {
    width: 13rem;
}

.music-wrapper {
    width: 13rem;
}
.three-sixty-icon {
  left: 0 !important;
  width: 13rem;
  text-transform: uppercase;
}


.social {
    width: 13rem;
}

.h-medium {
    font-size: 3rem;
    letter-spacing: .1px;
    line-height: 1.1;
}

.large-p {
    font-size: 1.9rem !important;
    line-height: 1.4;
    font-weight: 500;
}

p.nav-nbm {
    display:none;
}

.open {
    width: 100% !important;
}

.slide-5 .overlay-bg {
    background: url(http://sistinanefroplus.mk/img/m/4.jpg);
    opacity: 1;
    background-size: cover;
    background-position: center center;
}

.slide-5 img {
    display:none;
}

}


/*@media only screen and (max-width:375px) {
  .buttons {
      flex-direction: column;
    justify-content: flex-start;  
  }

  a.btn-def {
    text-align: center;
  }

  .buttons .btn-def {
    font-size: 2rem;
    font-weight: 400;

  }

  .btn-def:nth-child(2) {
      margin-top: 1.5rem;
    } 

 h1.heading {
     font-size: 4rem; 
 }   

 .h-medium {
    font-size: 4rem;
}

}*/


.slick-dotted.slick-slider {
    margin-bottom: 30px;
    max-width: 90%;
    margin: 0 auto;
}

.slick-slide img {
    display: block;
    max-width: 90%;
    margin: 0 auto;
}

.slick-dots li button:before {
    font-size: 20px !important;
}


.cont-four h1 {
    margin-bottom: 3rem;
}

a.mrg-t {
    margin-top: 4rem;
}



.text-scroll {

}


.text-scroll p {
    width: 95%;

}


.text-scroll {
    width: 100%;
    overflow:hidden;
    position: relative;
    margin-top: 3rem;
}

.mrg-btm {
  margin-bottom: 3rem !important;
}


::-webkit-scrollbar {
  width: 20px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.hemo-heading {
  color: #06377b;
  width: 55%;
  line-height:.9;
  font-size: 5rem;
}
.marginh h1 {
    margin: 0 !important;
}

a.btn-def.blue-btn.bluee-btn.mrg-top {
    margin-top: 1.5rem;
    margin-left: -2.5em;
}


.scroll-down-text-button {
    background-color: #06377b;
    background-image: url(../img/arrow.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}

.btn-end-point {
  background: #06377b !important;
  color: white !important; 
}

.big-text-scrollable {
    height: 35rem;
    overflow: hidden;
    border-right: 1px solid rgba(0,0,0,.1);
    width: 39%;
}


.img-p {
  font-weight: 500;
  text-decoration: underline;
  position: relative;
}


.img-p img {
  display: none;
}


.img-p img {
        width: 12rem;
    position: absolute;
    right: 0px;
    bottom: -200px;
}

.img-p:hover img {
  display: block;
}

.img-p img {
   -webkit-transition: all 200ms; /* Safari */
    -o-transition: all 200ms;
    transition: all 200ms;
}

h2,h1 {
  color: #06377b !important;
}


.three-sixty-icon {
  position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: auto;
    margin: auto;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.three-sixty-icon span {
    position: relative;
    top: -5px;
    font-size: .8em;
    font-weight: lighter;
}

/*360 back to home button left full width*/

.sidebar-nav  {
  background: white;
  width: 200px;
  height: 80px;
  position:absolute;
  top: 0;
  left: 0;
 

}

.sidebar-nav a {
  display: block;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.kocki {
    position: absolute;
    bottom: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 13rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 1.3rem;
    line-height: 3.5;
    color: #fff;
    letter-spacing: 1.3px;
    -webkit-font-kerning: none;
            font-kerning: none;
    font-weight: 500;
    z-index: 10;
    cursor: pointer;
}

form.kocki:nth-child(2) {
    bottom: 7rem;
}

@media only screen and (device-aspect-ratio: 16/10)
{ #video-background {
  width: 120% !important;


  } }

  @media only screen and (device-aspect-ratio: 4/3)
{ #video-background {
  width: 140% !important;
  right: -10% !important;


  } 
}
